.wrapper {
  max-width: 1060px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid var(--dark-300);
}

.friendsListAndChat {
  display: flex;
  width: 100%;
  max-width: 972px;
  height: 648px;
  margin-top: 14px;
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  overflow: hidden;
}
