.tabs {
  padding: 6px 24px 6px 23px;
  min-width: 85px;
  min-height: 36px;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.primary {
  color: var(--primary-500);
  border-bottom: 2px solid var(--primary-500);

  &:active {
    background-color: rgb(115 165 255 / 15%);
    border-bottom: 2px solid var(--primary-500);
  }

  &:hover {
    background-color: rgb(35 78 153 / 15%);
  }

  &:focus {
    outline: 2px solid var(--primary-700);
    border-radius: 2px;
  }

  &:disabled {
    color: var(--primary-900);
    border-bottom: 2px solid var(--primary-900);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.secondary {
  color: var(--dark-100);
  border-bottom: 2px solid var(--dark-100);

  &:active {
    background-color: rgb(115 165 255 / 15%);
  }

  &:hover {
    background-color: rgb(35 78 153 / 15%);
  }

  &:focus {
    outline: 2px solid var(--primary-700);
    border-radius: 2px;
  }

  &:disabled {
    color: var(--dark-300);
    border-bottom: 2px solid var(--dark-300);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
