.header {
  width: 1280px;
  height: 60px;
  padding: 12px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #333333;

  font-family: Inter;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
}

.bellAndSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 238px;
}