.friendName {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 24px;
  background-color: var(--dark-500);
  border-bottom: 1px solid var(--dark-300);
  color: var(--light-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friendAvatar {
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}
