.Overlay {
    background-color: rgb(0 0 0 / 50%);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.Content {
    background-color: var(--dark-300);
    border-radius: 2px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 438px;
    max-height: 240px;
    padding: 10px 0;
    border: 1px solid var(--dark-100);
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

    &:focus {
        outline: none;
    }

}

.Title {
    padding: 0 24px 10px;

}

.IconButton {
    all: unset;
    font-family: inherit;
    border-radius: 100%;
    background-color: var(--dark-300);
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--light-100);
    position: absolute;
    top: 16px;
    right: 24px;

    &:hover {
        background-color: var(--dark-100);
    }

    &:focus {
        background-color: var(--dark-100);
    }
}

.separator {
    background-color: var(--dark-100);
    width: 100%;
    height: 1px;
    border: none;

}

