.termsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 1350px;
  background-color: var(--dark-700);
  color: var(--light-100);
}

.header {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
