.termsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 800px;
  background-color: var(--dark-700);
  color: var(--light-100);
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
}