.popUpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
  background-color: var(--dark-300);
  z-index: 2;
}

.prevStep {
  display: contents;
}

.prevStep:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btnForm {
  all: unset;
  cursor: pointer;
  color: var(--primary-500);
  padding: 8px 12px;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

.btnForm:hover {
  background-color: rgb(255 255 255 / 5%);
}

.btnForm:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
