.modalWrapper {
  min-width: 1000px;
  background-color: var(--dark-300);
}

.popUpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.photosAndDescription {
  display: flex;
  flex-direction: row;
}

.uploadedPhotos {
  min-width: 500px;
  width: 100%;
}

.formContainer {
  min-width: 500px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 564px;
  max-width: 500px;
}

.closeBtn {
  all: unset !important;
  cursor: pointer;
}

.descriptionField {
  width: 400px;
  margin: 12px;
}

.textarea {
  min-width: 400px;
  height: 200px;
  border-radius: 2px;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 24px 0;
}

.btnForm:first-child {
  width: 100%;
  margin-bottom: 24px;
}

/* Карусель */

.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(0 0 0 / 40%);
  border: none;
  cursor: pointer;
  z-index: 2;
  padding: 4px;
  border-radius: 50%;
  color: white;
}

.arrowLeft {
  left: 8px;
}

.arrowRight {
  right: 8px;
}

.previewImage {
  border-radius: 8px;
  object-fit: cover;
}
