.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-700);
  opacity: 0.8;
  z-index: 99999;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  height: 564px;
  box-sizing: border-box;
}

.headerDataButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 564px;
}

.popUpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  min-width: 500px;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.closeBtn {
  all: unset;
  cursor: pointer;
}

.previewContainer {
  position: relative;
  width: 500px;
  height: 370px;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  object-fit: cover;
}

.carousel {
  position: absolute;
  top: -24%;
  left: 50%;
  min-width: 450px;
  max-width: 450px;
  padding: 10px 0;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.previewImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  row-gap: 8px;
  margin: 8px 0;
  z-index: 5;
}

.previewImage {
  width: 100%;
  object-fit: cover;
}

.removeBtn {
  position: absolute;
  top: 16px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-500);
  color: var(--light-100);
  border: none;
  cursor: pointer;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 24px 0;
}

.btnForm:first-child {
  width: 100%;
  margin-bottom: 24px;
}

.previewContainerEmpty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.imageEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  background-color: var(--dark-500);
}

.fileInputWrapper {
  width: 100%;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 564px;
  flex-wrap: wrap;
}

.descriptionField {
  width: 400px;
  margin: 12px;
}

.textarea {
  min-width: 400px;
  height: 200px;
  border-radius: 2px;
}
