
.forms {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 12px 5px 12px 0;
}


.link {
    color: var(--primary-300);
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
}

