.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.card {
  min-width: 500px;
  min-height: 500px;
  background-color: var(--dark-300);
  overflow: hidden;
}

.popUpHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
}

.closeBtn {
  all: unset;
  cursor: pointer;
}

.modalWrapper {
  min-width: 500px;
  max-width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imageWrapper {
  width: 100%;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.previewContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  top: -120px;
  left: 30px;
}

.previewImageContainer {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  row-gap: 8px;
  margin: 8px 0;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  background-color: var(--dark-500);
}

.fileInputWrapper {
  width: 100%;
  text-align: center;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin: 24px 0;
}

.btnForm {
  min-width: 220px;
}

.removeBtn {
  position: absolute;
  left: 80px;
  top: 16px;
  background-color: var(--dark-500);
  color: var(--light-100);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
