.button {
  all: unset;
  cursor: pointer;
  color: var(--light-100);
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  border-radius: 2px;
  padding: 6px 24px;
  width: 182px;
  height: 36px;
  transition:
    transform 0.1s,
    box-shadow 0.1s;
  pointer-events: auto;

  &:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  }
}

.notAnimation {
  transition: none;
  transform: none;
  box-shadow: none;

  &:active {
    transform: none;
  }
}

.primary {
  background-color: var(--primary-500);

  &:active {
    background-color: var(--primary-700);
  }

  &:hover {
    background-color: var(--primary-100);
  }

  &:focus {
    border: 2px solid var(--primary-700);
  }

  &:disabled {
    background-color: var(--primary-900);
    color: var(--light-900);
  }
}

.secondary {
  background-color: var(--dark-300);

  &:active {
    background-color: var(--dark-500);
  }

  &:hover {
    background-color: var(--dark-100);
  }

  &:focus {
    border: 1px solid var(--primary-300);
  }

  &:disabled {
    background-color: var(--dark-500);
    color: var(--light-900);
  }
}

.outlined {
  background-color: transparent;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);

  &:active {
    border: 1px solid var(--primary-700);
    color: var(--primary-700);
  }

  &:hover {
    border: 1px solid var(--primary-100);
    color: var(--primary-100);
  }

  &:focus {
    border: 2px solid var(--primary-700);
    color: var(--primary-700);
  }

  &:disabled {
    border: 1px solid var(--primary-900);
    color: var(--primary-900);
  }
}
