.selectWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    gap: 10px;

    font-family: var(--font-family), Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--light-100);
    position: relative;
}

.selectLabel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 25px;
    padding: 0 15px;
    gap: 5px;
    line-height: 171%;
    color: var(--dark-100);
    background-color: transparent;

    &[aria-disabled="true"] {
        color: var(--dark-300);
    }
}

.Trigger {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    padding: 0 15px;
    gap: 5px;

    font-size: 16px;
    line-height: 150%;
    background-color: var(--dark-500);
    border: 1px solid var(--dark-100);
    cursor: pointer;

    &[data-placeholder] {
        background-color: var(--dark-500);
    }
    &:active {
        border: 1px solid var(--dark-100);
        background-color: var(--dark-500);
    }
    &:focus {
        background-color: var(--dark-900);
        border: 2px solid var(--primary-500);
    }
    &:disabled {
        color: var(--dark-100);
        border: 1px solid var(--dark-100);
    }
    &:hover {
        background-color: var(--dark-100);
    }

    --radix-select-trigger-width: 170px;
}

.Icon {

    &:disabled {
        color: var(--dark-300);
    }
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--radix-select-trigger-width);
    background-color: var(--dark-500);
    border: 1px solid var(--dark-100);
    color: var(--light-100);
    cursor: pointer;
}

.Viewport {
    padding: 5px;
}

.flags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 35px;
}

.Label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 25px;
    color: var(--dark-300);
}

.Separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1px;
    background-color: var(--dark-100);
    margin: 5px;
}

.ScrollButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border: solid 1px var(--dark-100);
    background-color: var(--dark-500);
    color: var(--light-100);
    cursor: pointer;
}
