.navbar {
  width: 220px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 70px;
  box-sizing: border-box;
  border: 1px solid #333333;

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.navbarLink {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  color: var(--light-100);
}

.navbarLink:hover {
  color: var(--primary-500);
}

.navbarLink:nth-child(5) {
  margin-bottom: 60px;
}

.navbarLink:last-child {
  margin-top: 180px;
}

.link {
  height: 24px;
  margin-bottom: 24px;
  margin-left: 12px;
  color: inherit;
}

.link:hover {
  color: var(--primary-500);
}