.search {
  width: 100%;
  padding: 35px 24px 0;
  overflow-y: hidden;
}

.searchInput {
  margin: 13px 0 24px;
}

.results {
  max-height: 490px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
}

.userCard {
  display: flex;
  gap: 12px;
}

.userName {
  text-decoration: underline;
}

.userLink {
  color: inherit;
}
