.card {
    margin-top: 60px;
    padding: 23px 24px 36px 24px;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 41px;
}

.button {
    border: none !important;
    width: 100% !important;
}

.password {
    border: 1px solid var(--dark-100);
    border-radius: 2px;
    width: 330px !important;
    height: 36px;
    padding: 0 10px;
    background-color: var(--dark-500);
    color: var(--light-900);
}

.errorPassword {
    border: 1px solid var(--danger-500) !important;
    border-radius: 2px;
    width: 330px !important;
    height: 36px;
    padding: 0 10px;
    background-color: var(--dark-500);
    color: var(--light-100);
}

.form {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin-top: 37px;
}

.text {
    margin-top: 7px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
